<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Cars</h1>
    <% if (number) { %>
    <h2><%= '*'.repeat(number) %></h2>
    <% } %>
    <img src="/images/photo.jpeg" alt="" />
  </body>
</html>
